<div class="pi-view">
  <div class="pi-view__workspace">

    <div class="pi-view__top-half">
      <div class="pi-view__card pi-view__card--patient">
        <app-pi-patient-details />
      </div>
      <div class="pi-view__card pi-view__card--insurance">
        <app-pi-patient-insurance />
      </div>
    </div>

    <div class="pi-view__bottom-half">
      <div class="pi-view__card pi-view__card--tracker">
        <app-pi-intake-status />
      </div>
      <div class="pi-view__right-col">
        <div class="pi-view__card pi-view__card--notes">
          <app-pi-notes />
        </div>
        <div class="pi-view__card pi-view__card--history">
          <app-pi-history />
        </div>
      </div>
    </div>

  </div>
</div>
